.blog {
  max-width: 1070px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 100px;
  color: $textcolorblack;

  &__title {
    text-align: center;
    font-family: $playfair-regular;
    font-size: 50px;
    line-height: 100px;
  }

  &__img {
    width: 100%;
    margin-bottom: 50px;
  }

  &__headline {
    font-family: $playfair-italic;
    font-size: 40px;
    margin-bottom: 35px;
  }

  &__read-more {
    color: $textcolorblack;
    height: 31px;
    font-size: 16px;
    line-height: 31px;
    padding: 25px 30px 15px 30px;
    border-color: $bordercolorreadmy;
  }
}

@media (min-width: 768px) {
  .blog {
    &__img {
      width: 49%;
    }
  }
}

@media (min-width: 992px) {
  .blog {
    &__img {
      width: 49%;
      margin-bottom: 0;
    }

    &__item {
      margin-bottom: 50px;

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }

    &__wrapper {
      width: 49%;
    }
  }
}

@media (min-width: 1200px) {
  .blog {
    padding: 0;
    margin-bottom: 220px;

    &__title {
      margin-bottom: 75px;
    }

    &__item {
      margin-bottom: 190px;
    }

    &__img {
      width: 528px;
    }

    &__wrapper {
      width: 450px;
    }

    &__text {
      margin-bottom: 70px;
    }
  }
}
