.call {
  margin-bottom: 160px;
  max-width: 1440px;
  padding: 0 20px;
  color: $textcolorblack;
  text-align: center;

  &__title {
    margin-bottom: 50px;
    font-family: $playfair-regular;
    text-transform: capitalize;
    font-size: 50px;
    line-height: 100px;
  }

  &__enroll-now {
    color: $textcolorblack;
    height: 31px;
    font-size: 16px;
    line-height: 31px;
    padding: 25px 30px 15px 30px;
    border-color: $bordercolorreadmy;
  }
}
