.call {
  margin-bottom: 160px;
  max-width: 1440px;
  padding: 0 20px;
  color: $textcolorblack;
  text-align: center;

  &__title {
    margin-bottom: 50px;
    font-family: $playfair-regular;
    font-size: 50px;
    line-height: 100px;
  }

  &__enroll-now {
    color: $textcolorblack;
    font-size: 18px;
    line-height: 31px;
    padding: 15px 45px 10px 45px;
    border-color: $bordercolorreadmy;
  }
}

@media (min-width: 992px) {
  .call {
    &__title {
      margin-bottom: 65px;
    }
  }
}
