
$bgcolorwhite: #ffffff;
$textcolorblack: #000000;
$textcolorgray: #999999;
$textcolorgreen: #33cc33;
$bordercolorlogo1: #959595;
$bordercolorlogo2: #000000;
$bordercolorreview: #e7e7e7;
$bordercolorreadmy:#333333;
$footercolorline: #f2ede7;
