@font-face {
  font-weight: normal;
  font-family: "AvenirLT-BookOblique";
  font-style: normal;
  src: url("../fonts/AvenirLT-BookOblique.woff");
  src: url("../fonts/AvenirLT-BookOblique.woff2");
}

@font-face {
  font-weight: normal;
  font-family: "AvenirLT-Heavy";
  font-style: normal;
  src: url("../fonts/AvenirLT-Heavy.woff");
  src: url("../fonts/AvenirLT-Heavy.woff2");
}

@font-face {
  font-weight: normal;
  font-family: "AvenirLT-Medium";
  font-style: normal;
  src: url("../fonts/AvenirLT-Medium.woff");
  src: url("../fonts/AvenirLT-Medium.woff2");
}

@font-face {
  font-weight: normal;
  font-family: "AvenirLT-Roman";
  font-style: normal;
  src: url("../fonts/AvenirLT-Roman.woff");
  src: url("../fonts/AvenirLT-Roman.woff2");
}

@font-face {
  font-weight: normal;
  font-family: "PlayfairDisplay-Italic";
  font-style: italic;
  src: url("../fonts/PlayfairDisplay-Italic.woff");
  src: url("../fonts/PlayfairDisplay-Italic.woff2");
}

@font-face {
  font-weight: normal;
  font-family: "PlayfairDisplay-Regular";
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Regular.woff");
  src: url("../fonts/PlayfairDisplay-Regular.woff2");
}

$avenir-book: "AvenirLT-BookOblique", "Arial", sans-serif;
$avenir-heavy: "AvenirLT-Heavy", "Arial", sans-serif;
$avenir-medium: "AvenirLT-Medium", "Arial", sans-serif;
$avenir-roman: "AvenirLT-Roman", "Arial", sans-serif;
$playfair-italic: "PlayfairDisplay-Italic", serif;
$playfair-regular: "PlayfairDisplay-Regular", serif;
