.footer {
  border-top: 1px solid $footercolorline;

  &__title {
    margin-top: 50px;
    max-width: 1440px;
    padding: 0 20px;
    color: $textcolorblack;
    font-family: $playfair-regular;
    font-size: 24px;
  }

  &__copyright {
    max-width: 1440px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 28px;
  }
}
