.headline {
  max-width: 1440px;
  padding: 0 20px;
  margin-bottom: 50px;
  text-align: center;

  &__title {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 900px;
    color: $textcolorblack;
    font-family: $playfair-regular;
    font-weight: 400;
    font-size: 70px;
    line-height: 100px;
  }

  &__text {
    margin: 0 auto;
    max-width: 590px;
  }
}

@media (min-width: 768px) {
  .headline {
    &__title {
      margin-bottom: 100px;
    }
  }
}

@media (min-width: 1200px) {
  .headline {
    margin-bottom: 200px;

    &__title {
      margin-bottom: 20px;
    }
  }
}
