.player {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;

  &__button {
    position: absolute;
    bottom: -10px;
    left: -10px;
    border-radius: 50%;
    border-color: $bgcolorwhite;
    background-color: $bgcolorwhite;
    width: 56px;
    height: 56px;

    & i {
      padding-top: 11px;
      font-size: 12px;
      color: $textcolorblack;
    }

    &--best {
      bottom: 32px;
      left: 25px;
    }
  }
}


@media (min-width: 768px) {
  .player--best {
    max-width: 620px;
  }
}
