.recent-reviews {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 50px;
    color: $textcolorblack;
    text-transform: capitalize;
    text-align: center;
    font-family: $playfair-regular;
    font-size: 36px;
  }
}
