.user-videos {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
  color: $textcolorblack;

  &__title {
    font-family: $playfair-regular;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 100px;
  }
}

